binance
exchange_rates.pickle
prices.pickle
coinbase
.idea/
__pycache__
crypto.com exchange
crypto.com
uphold
main.py
kucoin
.json
young_platform
cryptodotorg
solana
vechain
log.txt
pdf_producer.py
bkp
tax_calculator.py
manual_transactions.txt
calculators/solana_calc.py
*_tokens.pickle
manual_transactions.csv
calculators/cosmos.py
.DS_Store
venv
plutus
*.xlsx
*.csv
Transazioni_*.xlsx
manual_*
nft_prices*