input/binance
exchange_rates.pickle
prices.pickle
input/coinbase
.idea/
__pycache__
input/crypto.com exchange
input/crypto.com
input/uphold
main.py
input/kucoin
.json
input/young_platform
input/cryptodotorg
solana
input/vechain
log.txt
pdf_producer.py
bkp
tax_calculator.py
manual_transactions.txt
calculators/solana_calc.py
*_tokens.pickle
input/manual_transactions.csv
calculators/cosmos.py
.DS_Store
venv
input/plutus
*.xlsx
*.txt
*.csv
Transazioni_*.xlsx
manual_*
nft_prices*
input
output